.map-balloon-content {
    padding: 15px;
    @include border-radius($input-radius*2);
    min-width: 230px;

    table {
        border: none;
        width: 100%;

        td {
            vertical-align: top;
            text-align: left;
            padding: 0;
        }
    }

    a {
        color: $brand;
    }

    .map-balloon-price {
        text-align: right;
    }

    .map-balloon-link {
        text-align: right;
        vertical-align: bottom;
    }

    .map-balloon-details {
        padding-right: 25px;

        p:last-child {
            margin: 0;
        }
    }
}