/*.suo
Debug
bin
obj
Artifacts
*.suo
.sass-cache
Build
.DS_Store
bower_components/
node_modules/
*.log
.chef

/server/data

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
auth.coffee
nbproject
Thumbs.db

# NPM and Brunch
node_modules/
bower_components/
public/
tmp/

.idea
.chef

*.bak