$brand: #0073bb;
$text: #696969;
$label-color: #a1a1a1;
$text-strong: #4c4c4c;
$text-silver: #545454;
$text-disabled: #d3d3d3;
$negative-text: #fff;
$accent-color: #ff6e00;
$accent-color-lighten: #fff5ee;
$content-background: #fff;
$content-background-alternative: #f7f7f7;
$document-background: #f0f0f0;

$border-color: #e8e8e8;
$input-border-color: #dadada;

// FOOTER
$footer-border-color: #0b627c;
$footer-bg-color: #003456;
$footer-hover-color: #002c4c;
$footer-text: #91a0ad;
$quotes-label-bg: #01649f;
$quotes-text-color: #6badcc;

// LABELS
$label-car-color: #ff7100;
$label-car-shadow-color: #c64f00;
$label-cargo-color: #0075bc;
$label-cargo-shadow-color: #004c82;