// BODY
$container-width: 1130px;
$content-width: 1240px;
$content-width-small: 980px;

// HEADER
$header-height: 80px;
$header-bottom-offset: 30px;

// FOOTER
$footer-height: 60px;

// INPUTS
$input-padding: 9px;
$input-radius: 3px;

// TEXT
$text-size: 13px;
$text-small-size: 10px;
$text-large-size: 15px;

// REVIEWS
$reviews-height: 150px;
$welcome-search-height: 380px;
$welcome-search-width: 342px;

$transition-time: 0.2s;

//ADVERT
$advert-left-part-width: 350px;